<launch>
  <group ns="eaglemk4">
    <arg name="nn_controller_config_file" default="$(find eaglemk4_nn_controller)/config/controller.yaml"/>

    <remap from="navigation" to="/vesc/high_level/ackermann_cmd_mux/input/nav_0" />
    <remap from="image" to="usb_cam/image_raw" />

    <node pkg="eaglemk4_nn_controller" type="run.py" name="nn_controller" output="screen">
      <rosparam file="$(arg nn_controller_config_file)" command="load"/>
    </node>
  </group>
</launch>
